$vw-viewport: 1920;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}

.container {
  color: white
}

.main {
  height: get-vw(1069px);
}
.nav {
  padding: get-vw(31px) get-vw(320px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: get-vw(100px);
}
.navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: get-vw(195px);
  height: get-vw(41px);
  margin-right: get-vw(43px);
}
.navlinks {
  font-size: get-vw(16px);
  font-weight: 600;
}
.navlinks a {
  margin-right: get-vw(38px);
  cursor: pointer;
} 
.navbtn {
  width: get-vw(182px);
  height: get-vw(54px);
  background-color: white;
  color: black;
  border-radius: get-vw(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.hero {
  padding: get-vw(1px) get-vw(133px) 0 get-vw(320px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.herocontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.herocontent h1 {
  font-size: get-vw(94px);
  font-weight: bold;
  color: #FFFD2E;
  background: -webkit-linear-gradient(#FFFD2E, #D5D5D5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.9;
  padding-bottom: get-vw(33px);
}
.herocontent p {
  font-size: get-vw(22px);
  font-weight: 400;
  line-height: get-vw(29px);
  margin-bottom: get-vw(45px);
}
.herobtn {
  width: get-vw(283px);
  height: get-vw(84px);
  background-color: #FFFD2E;
  color: black;
  border-radius: get-vw(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: get-vw(24px);
  cursor: pointer;
}
.heroimg {
  width: get-vw(577.27px);
  height: get-vw(755.13px);
}

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: get-vw(129px);
  width: 100vw;
}
.hero2content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero2content h1 {
  font-size: get-vw(95px);
  font-weight: bold;
  text-align: center;
}
.hero2content p {
  font-size: get-vw(24px);
  font-weight: 400;
  text-align: center;
}
.hero2imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: get-vw(90px) get-vw(220px);
}
.heroleft,  .heroright{
  width: get-vw(490.26px);
  height: get-vw(869.55px);
}
.herom {
  width: get-vw(302px);
  height: get-vw(610px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero3 {
  background-color: #FFFD2E;
  height: get-vw(664px);
  width: 100vw;
  background-image:  url("/hero3.png"), url("/background.png");
  background-size: get-vw(480px), cover ;
  background-repeat: no-repeat;
  background-position-x: get-vw(170px), 0;
  background-position-y: get-vw(-50px), 0;
  border: none;
}
.hero3content {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  color: black;
  height: 100%;
padding-left: get-vw(700px);
}
.hero3content h1 {
  font-size: get-vw(94px);
  font-weight: bold;
  color: #000;
  line-height: 0.9;
  margin-bottom: get-vw(33px);
}
.hero3btn {
  width: get-vw(283px);
  height: get-vw(84px);
  background-color: #000;
  color: #FFFD2E;
  border-radius: get-vw(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: get-vw(24px);
  cursor: pointer;
}

.hero4 {
  width: 100vw;
  height: get-vw(1166px);
  background-image: url("/bighero.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 get-vw(120px) get-vw(360px);
}
.hero4content h1 {
  font-size: get-vw(94px);
  font-weight: bold;
  color: #fff;
  line-height: 0.9;
  margin-bottom: get-vw(33px);
}

.footer {
  height: get-vw(900px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: get-vw(-100px);
}
.footercontent h1 {
  font-size: get-vw(68px);
  font-weight: 400;
  color: #fff;
  line-height: 1;
  margin-bottom: get-vw(33px);
  text-align: center;
}

.yellow {
  color: #FFFD2E;
}
.input {
  width: get-vw(714.28px);
  height: get-vw(95px);
  border-radius: get-vw(31px);
  border: none;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: get-vw(30px);
}
.input input {
  width: 70%;
  height: get-vw(95px);
  border-radius: get-vw(31px);
  border: none;
  background-color: #191919;
  font-size: get-vw(24px);
  font-weight: 400;
  color: white;
  padding-left: get-vw(40px);
}
.input input::placeholder {
  color: #A5A5A5
}
.footerbtn {
  width: get-vw(263.47px);
  height: get-vw(95px);
  background-color: #FFFD2E;
  border-radius: get-vw(31px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: get-vw(24px);  
  font-weight: bold;
  cursor: pointer;
}
.fnav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0 get-vw(350px);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: get-vw(111px);
}
.fnavleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fnavright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  width: get-vw(30px);
  height: get-vw(20px);
  margin-right: get-vw(20px);
  cursor: pointer;
}
.page {
  width: get-vw(92.8px);
  height: get-vw(7px);
  margin-bottom: get-vw(36px);
}