$vw-viewport: 1920;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
.overall {
  width: 100vw;
  min-height: 100vh;
}
.hero2imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: get-vw(0px) get-vw(0px);
  position: fixed;
  inset: 0;
}
.heroleft {
  width: get-vw(490.26px);
  height: get-vw(869.55px);
  margin-left: get-vw(-167px);
}
.heroright {
  width: get-vw(490.26px);
  height: get-vw(869.55px);
  margin-right: get-vw(-167px);
}
.herom {
  width: get-vw(302px);
  height: get-vw(610px);
  justify-content: center;
  align-items: center;
  display: flex;
}
.con {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  display: flex;
  padding-top: 30vh;
  height: 100vh;
}
.hm {
  display: flex;
  flex-direction: row;
  width: get-vw(1000px);
}
.logo {
  width: get-vw(215px);
  height: get-vw(215px);
  margin-right: get-vw(35px);
}
.texts h1 {
  font-size: get-vw(125px);
  font-weight: bold;
  color: #fff;
  margin-bottom: get-vw(0px);
  margin-top: get-vw(32px);
}

.texts p {
  font-size: get-vw(24px);
  font-weight: 400;
  color: #fff;
  margin-bottom: get-vw(0px);
}
.ard {
  width: get-vw(54px);
  height: get-vw(54px);
  margin-top: get-vw(0px);
  margin-bottom: get-vw(35px);
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: ard;
  animation-timing-function: linear;
}

@keyframes ard {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero3btn {
  width: get-vw(335px);
  height: get-vw(84px);
  background-color: #fffd2e;
  color: #000;
  border-radius: get-vw(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: get-vw(24px);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.hero3btn:hover {
  background-color: #2eefff;
}
.hb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: get-vw(130px);
}
.main {
  position: fixed;
  top: 100vh;
  background-color: black;
  overflow: scroll;
  overflow-y: visible;
  min-height: 100vh;
  transition: 0.5s;
  width: 100vw;
}

@media (max-width: 768px) {
  $vw-viewport: 390;
  @function get-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
  }

  .overall {
    width: 100vw;
    min-height: 100vh;
  }
  .hero2imgs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding: get-vw(115px) get-vw(0px);
    position: fixed;
    inset: 0;
  }
  .heroleft {
    width: get-vw(221px);
    height: get-vw(256px);
    margin-left: get-vw(-89px);
  }
  .heroright {
    width: get-vw(221px);
    height: get-vw(256px);
    margin-right: get-vw(-89px);
  }
  .herom {
    width: 100%;
    height: get-vw(610px);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 10vh;
    height: 100vh;
    // background-color: aquamarine;
    position: absolute;
  }
  .hm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: get-vw(263px);
    height: get-vw(58px);
    margin-right: get-vw(35px);
  }
  .texts h1 {
    font-size: get-vw(47px);
    font-weight: bold;
    color: #fff;
    margin-bottom: get-vw(0px);
    margin-top: get-vw(32px);
  }

  .texts p {
    font-size: get-vw(15px);
    font-weight: 400;
    color: #fff;
    margin-bottom: get-vw(0px);
    text-align: center;
    padding: 0 get-vw(50px);
    margin-top: get-vw(10px);
  }
  .ard {
    width: get-vw(40px);
    height: get-vw(40px);
    margin-top: get-vw(0px);
    margin-bottom: get-vw(35px);
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: ard;
    animation-timing-function: linear;
  }

  @keyframes ard {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hero3btn {
    width: get-vw(192px);
    height: get-vw(57px);
    background-color: #fffd2e;
    color: #000;
    border-radius: get-vw(11px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: get-vw(13px);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .hero3btn:hover {
    background-color: #2eefff;
  }
  .hb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: get-vw(130px);
  }
  .main {
    position: fixed;
    top: 100vh;
    background-color: black;
    overflow: scroll;
    overflow-y: visible;
    min-height: 100vh;
    transition: 0.5s;
    width: 100vw;
  }
}
